fit04.csv filter=lfs diff=lfs merge=lfs -text
fit05.csv filter=lfs diff=lfs merge=lfs -text
fit06.csv filter=lfs diff=lfs merge=lfs -text
fit07.csv filter=lfs diff=lfs merge=lfs -text
fit08.csv filter=lfs diff=lfs merge=lfs -text
fit01.csv filter=lfs diff=lfs merge=lfs -text
fit02.csv filter=lfs diff=lfs merge=lfs -text
fit03.csv filter=lfs diff=lfs merge=lfs -text
